<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>Banking System</display-name>

    <session-config>
        <session-timeout>30</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <secure>false</secure>
           
        </cookie-config>
         <tracking-mode>COOKIE</tracking-mode>
    </session-config>
	
<filter>
    <filter-name>CookieSameSiteFilter</filter-name>
    <filter-class>filter.CookieSameSiteFilter</filter-class>
</filter>

<filter>
    <filter-name>SecurityHeadersFilter</filter-name>
    <filter-class>filter.SecurityHeadersFilter</filter-class>
</filter>

<filter>
    <filter-name>RequestHeadersValidationFilter</filter-name>
    <filter-class>filter.RequestHeadersValidationFilter</filter-class>
</filter>

<filter>
    <filter-name>InputSanitizationFilter</filter-name>
    <filter-class>filter.InputSanitizationFilter</filter-class>
</filter>

<filter>
    <filter-name>CSRFProtectionFilter</filter-name>
    <filter-class>filter.CSRFProtectionFilter</filter-class>
</filter>

<filter>
    <filter-name>RateLimitingFilter</filter-name>
    <filter-class>filter.RateLimitingFilter</filter-class>
</filter>

<filter>
    <filter-name>ActivityLoggingFilter</filter-name>
    <filter-class>filter.ActivityLoggingFilter</filter-class>
</filter>

<filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>filter.AuthenticationFilter</filter-class>
</filter>

<filter-mapping>
    <filter-name>CookieSameSiteFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>



<filter-mapping>
    <filter-name>SecurityHeadersFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>

<filter-mapping>
    <filter-name>RequestHeadersValidationFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>

<filter-mapping>
    <filter-name>InputSanitizationFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>

<filter-mapping>
    <filter-name>CSRFProtectionFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>

<filter-mapping>
    <filter-name>RateLimitingFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>

<filter-mapping>
    <filter-name>ActivityLoggingFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>

<filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>

</web-app>

